proxy=http://adnankhan:Latestone123@bcproxy.sgp.dbs.com:8080/
https-proxy=http://adnankhan:Latestone123@bcproxy.sgp.dbs.com:8080/
http-proxy=http://adnankhan:Latestone123@bcproxy.sgp.dbs.com:8080/
https_proxy=http://adnankhan:Latestone123@bcproxy.sgp.dbs.com:8080/
http_proxy=http://adnankhan:Latestone123@bcproxy.sgp.dbs.com:8080/
