
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTreatmentLabel" data-translate="dentoCareApp.treatment.home.createOrEditLabel">Create or edit a Treatment</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.treatment.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.treatment.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentoCareApp.treatment.chiefComplainDescription" for="field_chiefComplainDescription">Chief Complain Description</label>
            <input type="text" class="form-control" name="chiefComplainDescription" id="field_chiefComplainDescription"
                    ng-model="vm.treatment.chiefComplainDescription"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentoCareApp.treatment.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.treatment.status" id="field_status">
                <option value="NEW" data-translate="dentoCareApp.Status.NEW">NEW</option>
                <option value="INPROGRESS" data-translate="dentoCareApp.Status.INPROGRESS">INPROGRESS</option>
                <option value="COMPLETED" data-translate="dentoCareApp.Status.COMPLETED">COMPLETED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentoCareApp.treatment.startDate" for="field_startDate">Start Date</label>
                <div class="input-group">
                    <input id="field_startDate" type="text" class="form-control" name="startDate" datetime-picker="{{dateformat}}" ng-model="vm.treatment.startDate" is-open="vm.datePickerOpenStatus.startDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="dentoCareApp.treatment.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                <div class="input-group">
                    <input id="field_lastModifiedDate" type="text" class="form-control" name="lastModifiedDate" datetime-picker="{{dateformat}}" ng-model="vm.treatment.lastModifiedDate" is-open="vm.datePickerOpenStatus.lastModifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastModifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="dentoCareApp.treatment.patient" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" ng-model="vm.treatment.patient" ng-options="patient as patient.id for patient in vm.patients track by patient.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
